<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZH_LoadingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2917829A1D20C15F006BA489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291782B31D20C160006BA489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291782BE1D20C160006BA489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
